---
import ContactForm from "../../components/sections/investors/ContactForm.astro";
import Layout from "../../layouts/Layout.astro";

---
<Layout title="Startup Embassy - Live & Work in Silicon Valley">

    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <ContactForm />
    </main>
</Layout>