---
import Layout from "../../layouts/Layout.astro";
import HeroI from "../../components/sections/investors/HeroI.astro"
---
<Layout title="Startup Embassy - Live & Work in Silicon Valley">

    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <HeroI />
    </main>
</Layout>